<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="../stylesheets/configurar.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

  <div id="rootConfig">
    <div class="row">
      <form >
        Número de vuelo:<br>
        <input type="text" name="numVue" value="" id="insertNumber">
        <br><br>
        <input type="submit" value="Submit" id="myForm">
       </form> 
    </div>
    <div class="row ticket">
      <div class="stub">
        <div class="top">
          <span class="admit">Siguiendo Vuelo</span>
          <span class="line"></span>
        </div>
        <div class="number" id="numVuelo"></div>
      </div>
      <div class="check">
        <div class="big">
          You're <br> Invited
        </div>
        <div class="info">
          <section>
            <div class="title">Date</div>
            <div id="dateOfTravel"></div>
          </section>
          <section>
            <div class="title">From</div>
            <div id="desde"></div>
          </section>
          <section>
            <div class="title">To</div>
            <div id="hasta"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <script src="../scripts/configurarVuelo.js"></script>  
</body>

</html>